<%= form_for(@ground, url: ground_share_path,
                      method: :post,
                      html: { class: :share_ground, id: :share_ground },
                      remote: true) do |f| %>

  <%= f.hidden_field :language, value: @ground.language %>

  <%= f.hidden_field :code, value: @ground.code %>

<% end %>

<div class="editor">

  <div class="editor-header">

    <% [:language, :theme, :indent, :keyboard].each do |option| %>
       <%= render 'option_dropdown', option: option %>
    <% end %>

  </div>

  <%= content_tag(:div, @ground.code, id: :ground_editor, class: 'editor-body', data: @ground.data) %>

</div>

<div class="controls-up">

  <input name="sharedURL" type="text" id="sharedURL" class="rounded">

  <%= button_tag(type: 'button', id: :run, class: 'button') do
    content_tag(:strong, fa_icon('play', text: t('editor.run')))
  end %>

  <%= button_tag(type: 'button', id: :share, class: 'button') do
    content_tag(:strong, fa_icon('share', text: t('editor.share')))
  end %>
  
  <%= button_tag(type: 'button', class: 'button', data: { dropdown: 'shortcuts' },
                 html: { 'aria-controls' => 'shortcuts', 'aria-expanded' => 'false' }) do
    content_tag(:strong, fa_icon('keyboard-o', text: t('editor.shortcuts')))
  end %>

  <div id="shortcuts" data-dropdown-content class="shortcuts-tooltip" aria-hidden="true" tabindex="-1">

    <ul class="shortcuts-list">

      <li><span>⌘ / ctrl</span> + <span>enter</span> <%= t('editor.run') %></li>
      
      <li><span>⌘ / ctrl</span> + <span>s</span> <%= t('editor.share') %></li>

      <li><span>⌘ / ctrl</span> + <span>←</span> <%= t('editor.back') %></li>

    </ul>

  </div>

</div>

<div class="console">

  <h6><%= fa_icon('terminal', text: t('editor.console')) %></h6>

  <pre id="waiting" class="waiting" hidden="true"><%= t('editor.waiting') %></pre>

  <pre id="connect_error" class="stderr" hidden="true"><%= t('editor.error.connect') %></pre>

  <pre class="output"></pre>

</div>

<div class="controls-down">

  <%= button_tag(type: 'button', id: :back, class: 'button') do
    content_tag(:strong, fa_icon('long-arrow-up', text: t('editor.back')))
  end %>

</div>
