<%= form_for(@ground, url: ground_share_path, 
                      method: :post, 
                      html: { class: :share_ground, id: :share_ground }, 
                      remote: true) do |f| %>

  <%= f.hidden_field :language, value: @ground.language %>

  <%= f.hidden_field :code, value: @ground.code %>

<% end %>

<div class="row editor-header">

  <%= render 'option_dropdown', option: :language %>

  <%= render 'option_dropdown', option: :theme %>

  <%= render 'option_dropdown', option: :indent %>

  <%= render 'option_dropdown', option: :keyboard %>

  <%= button_tag(type: 'button', id: :share, class: 'tiny button radius') do
    content_tag(:strong, fa_icon('share', text: t('editor.share')))
  end %>

</div>

<%= content_tag(:div, @ground.code, id: :ground_editor, class: 'row code-editor', data: @ground.editor) %>

<div class="row top-buffer">

  <input name="sharedURL" type="text" id="sharedURL" class="radius">
  
  <%= button_tag(type: 'button', id: :run, class: 'tiny button radius') do
    content_tag(:strong, fa_icon('play', text: t('editor.run')))
  end %>

</div>

<div class="row console radius top-buffer">

  <h6><%= fa_icon('terminal', text: t('editor.console')) %></h6>

  <pre id="waiting" class="waiting" hidden="true"><%= t('editor.waiting') %></pre>

  <pre id="connect_error" class="stderr" hidden="true"><%= t('editor.error.connect') %></pre>

  <pre id="output"></pre>

</div>

<div class="row top-buffer">

  <%= button_tag(type: 'button', id: :back, class: 'tiny button radius') do
    content_tag(:strong, fa_icon('long-arrow-up', text: t('editor.back')))
  end %>

</div>
