<% title t('site.about') %>

<div class="row">

  <div class="project-description">

    <p>
    Grounds is a 100% open source developer tool built to provide a way to share runnable
    snippets within various languages from a web browser. Grounds supports many languages
    and make it really trivial to add support for other languages.
    </p>

    <p>However Grounds has some limitations:</p>

    <ul>

      <li>
        The only communication a Grounds program has to the outside world is by writing to
        standard output and standard error.
      </li>

      <li>
        The only communication a Grounds program has to the outside world is by writing to
      standard output and standard error.
        </li>

      <li>
        A Grounds program has a limited lifetime (currently 10 seconds).
      </li>

      <li>
        Grounds doesn't support HTML, CSS and client-side Javascript, and there is no plan to do it
        in the future.
        Checkout the awesome <%= link_to('JS Fiddle', 'http://jsfiddle.net/', target: '_blank') %> for
        that.
      </li>

    </ul>

    <p>
      Grounds strives to use the latest stable release of each supported language. If you find
      that your favorite language is not up to date, you are welcomed to open an issue on
      <%= link_to('GitHub', 'https://github.com/grounds/grounds.io/issues/new', target: '_blank') %>.
    </p>

    <p>
      Pull requests are also welcomed. There is a lot of documentation on the official
      <%= link_to('repository', 'https://github.com/grounds/grounds.io', target: '_blank') %> to help
      new contributors getting started.
    </p>

  </div>

</div>

<div class="team-members">

  <h3>Team</h3>

  <%= render 'pages/team_member',
    name: 'Gaetan Gueraud',
    role: 'Developer',
    gravatar: 'exadeci@gmail.com',
    github: 'https://github.com/exadeci',
    twitter: 'https://twitter.com/exadeci',
    linkedin: 'http://fr.linkedin.com/in/gaetangueraud/fr'
  %>

  <%= render 'pages/team_member',
    name: 'Adrien Folie',
    role: 'Creator / Lead Developer',
    gravatar: 'folie.adrien@gmail.com',
    github: 'https://github.com/folieadrien',
    twitter: 'https://twitter.com/folieadrien',
    linkedin: 'http://fr.linkedin.com/in/folieadrien/'
  %>

  <%= render 'pages/team_member',
    name: 'Thomas Petrachi',
    role: 'Developer / Designer',
    gravatar: 'thomas.petrachi@vodeclic.com',
    github: 'https://github.com/petrachi',
    twitter: 'https://twitter.com/thmszpy',
    linkedin: 'http://fr.linkedin.com/pub/thomas-petrachi/28/1a4/b2b/fr'
  %>
</div>
