<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : t('site.title') %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    
    <div class="off-canvas-wrap" data-offcanvas>

      <div class="inner-wrap">

        <%= render 'layouts/sidemenu' %>

        <section role="page">
        
          <header>
        
            <%= render 'layouts/header' %>
  
          </header>

          <section class="content-wrap" role="document">
  
            <div class="top-buffer"></div>
  
            <%= yield %>
      
          </section>
          
          <footer id="footer">
  
            <%= render 'layouts/footer' %>
      
          </footer>
        
        </section>
    
      </div>

    </div>

  </body>
</html>
