<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : t('site.title') %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr' %>
  <%= csrf_meta_tag %>
  <%= piwik_tracking_tag %>
</head>

<body>

  <section class="off-canvas-wrap" data-offcanvas>

    <section class="inner-wrap">

      <%= render 'layouts/sidemenu' %>

      <section class="main-content" role="page">

        <header>

          <%= render 'layouts/header' %>

        </header>

        <%= yield %>

        <footer>

          <%= render 'layouts/footer' %>

        </footer>

      </section>

    </section>

  </section>

</body>
</html>
